/* General Styles */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Background color for the page */
}

/* Container for the top section */
#top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Space between selects */
    margin-bottom: 20px; /* Space below the top section */
}

/* Styling for select elements */
select {
    width: 200px;
    height: 40px;
    font-size: 16px;
}

/* Styling for headings */
h1 {
    font-size: 2rem;
    color: #333; /* Darker color for text */
    margin: 20px 0; /* Space around the heading */
}

/* Weather container styling */
.weather-container {
    background-color: rgba(92, 122, 151, 0.712);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 70vh;
    width: 80vw;
    gap: 20px;
    padding: 20px 5%;
}

/* Weather item styling */
.weather-item {
    background-color: #ffffff00;
    border-color: #f0f0f0;
    border-width: 2px;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: calc(25% - 30px); /* Adjusts width based on container width and gap */
}

/* Weather icon styling */
.weather-item img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Loading text styling */
p {
    font-size: 1.5rem;
    color: #333;
}
